
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url(./root.css);

.navbar {
    height: 100px;
}

.parent {
    background-image: url(/assets/images/bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.full-parent {
    background-color: #01000B;
}

.robo-img {
    margin-top: 55px;
    margin-bottom: 118.71px;
}

.buton-1 {
    line-height: 25.2px;
    background: linear-gradient(103.52deg, #3A3EF5 18.99%, #32C8F1 82.34%);
    box-shadow: 0px 0px 12px 0px #BF97FF3D inset;
    padding: 13px 32px 13px 32px;
    border-radius: 57px;
    border: none;
}

.buton-3 {
    line-height: 25.2px;
    background: linear-gradient(103.52deg, #3A3EF5 18.99%, #32C8F1 82.34%);
    box-shadow: 0px 0px 12px 0px #BF97FF3D inset;
    padding: 13px 32px 13px 32px;
    border-radius: 57px;
    border: none;
}

.buton-1:hover {
    background: linear-gradient(103.52deg, #FFFFFF 18.99%, #32C8F1 82.34%);
    color: #092048 !important;
    transition: all 400ms;
}

.buton-3:hover {
    background: linear-gradient(103.52deg, #FFFFFF 18.99%, #32C8F1 82.34%);
    color: #092048 !important;
    transition: all 400ms;
}

.container {
    max-width: 1140px !important;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    line-height: 86.4px;
    max-width: 705.17px;
}

.text {
    line-height: 30px;
    padding-top: 24px;
}

.buton-2 {
    line-height: 25.2px;
    padding: 13px 32px 13px 32px;
    background: linear-gradient(103.52deg, #3A3EF5 18.99%, #32C8F1 82.34%);
    box-shadow: 0px 0px 12px 0px #BF97FF3D inset;
    border-radius: 57px;
    max-width: 230px;
    border: none;
    margin-top: 24px;
}

.buton-2:hover {
    background: linear-gradient(103.52deg, #FFFFFF 18.99%, #32C8F1 82.34%);
    color: #092048 !important;
    transition: all 400ms;
}

.pt-166 {
    padding-top: 166px;
}

.sub-heading {
    line-height: 57.6px;
}

.text-2 {
    max-width: 146px;
}

.text-3 {
    max-width: 187px;
    line-height: 24px;
}

.mt-56 {
    margin-top: 56px;
}

.br {
    border-right: 1px solid;
    border-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%) 1;
}

.slider-heading {
    line-height: 57.6px;
}

.mt-175 {
    margin-top: 175px;
}

.slider-box {
    background: linear-gradient(180deg, rgba(59, 40, 246, 0.22) 0%, rgba(59, 40, 246, 0) 100%);
    border-radius: 24px;
    padding: 24px 24px 0.01px 24px;
}

div.slick-track {
    gap: 24px !important;
    display: flex;
    padding-top: 40px;
}

.slick-dots li button:before {
    color: #FFFFFF !important;
}

.pt-47 {
    padding-top: 47px;
    gap: 8px;
}

.slide-text {
    max-width: 316px;
}

.mt-210 {
    margin-top: 210px;
}

.footer-text {
    opacity: 100%;
}

.footer-text-2 {
    opacity: 70%;
    padding-top: 14px;
}

.gap-12 {
    gap: 12px;
    margin-top: 18px;
}

.outfit {
    font-family: "Outfit", serif;
}

.last-text {
    max-width: 1140px;
    height: 44px;
    gap: 20px;
    border-top: 2px solid;
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 47%, rgba(255, 255, 255, 0) 100%) 2;
    margin-top: 60px;
    margin-bottom: 30px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-12 {
    padding-top: 12px;
}

.pt-32 {
    padding-top: 32px;
}

.w-50px {
    width: 50px;
}

.show-navbar {
    right: 0 !important;
}

.connect-wallet-btn {
    padding: 12px 32px;
    border-radius: 10px;
    background-color: var(--null);
    border: 1px solid transparent;
    color: var(--sec);
    font-family: var(--poppins);
    font-size: var(--fs-xl);
    font-weight: 500;
    transition: all 400ms linear;
    cursor: pointer;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    background-color: var(--null);
    display: flex;
    z-index: 10;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
    background-color: #FFFFFF;
    position: relative;
    margin-right: 30px;
}

.z-5 {
    z-index: 5;
}

.rotate40 {
    transform: rotate(40deg);
}

.rotate-45 {
    transform: rotate(-46deg);
}

.connect-wallet-btn:hover {
    background-color: var(--sec);
    color: var(--null);
}

.navbar-link {
    line-height: 20.16px;
}

.nav-name {
    gap: 32px;
}

.navbar-link:hover {
    color: var(--sec);
    -webkit-text-stroke: 1px var(--sec);
}

.accordion {
    max-width: 1022px;
    padding: 24px;
    --bs-accordion-border-color: none !important;
    --bs-accordion-btn-focus-box-shadow: none !important;
}

.accordion-item {
    background-color: #01000B !important;
    border: 1px solid #FFFFFF1A !important;
    border-radius: 12px !important;
}

.accordion-button {
    background-color: #01000B !important;
}

.accordion-button::after {
    width: 20px !important;
    background-image: url(/assets/images/svg/arrow.svg) !important;
    padding-left: 20px !important;
}

.accordion-header .accordion-button {
    border-radius: 12px !important;
}

.mb-356 {
    margin-bottom: 356px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-24 {
    margin-top: 24px;
}

@media (min-width:992px) {
    .buton-1 {
        display: none;
    }
}

@media (min-width:1440px) {
    .robo-img {
        animation: up-and-down 3s ease-in-out infinite;
    }

    .robo-img {
        width: 472px !important;
    }

    .mt-356 {
        margin-top: 356px !important;
    }
}

@media (max-width:1439.98px) {
    .parent {
        width: 100% !important;
    }

    .robo-img {
        width: 100%;
    }

    .footer-sec {
        margin-top: 100px;
    }

    .pt-166 {
        padding-top: 40px;
    }

    .mt-210 {
        margin-top: 80px;
    }

    .mt-175 {
        margin-top: 90px;
    }
}

@media (max-width:992px) {
    .robo-img {
        width: 60%;
    }
}

@media (max-width:992px) {
    .bug {
        display: none;
    }

    .nav-name {
        display: flex !important;
        flex-direction: column;
        background: #092048 !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: -2%;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear;
    }

    .show-nvabar {
        right: 0 !important;
    }

    .menu-btn {
        display: block;
        z-index: 1;
    }

    .robo-img {
        margin: auto;
        display: flex;
    }

    .parent {
        width: 50%;
    }

    .heading {
        text-align: center;
        margin: auto;
        display: flex;
    }

    .nav-icon {
        margin-left: 30px;
    }
}

@media (max-width:768px) {

    .parent {
        background-image: url(/assets/images/bg-img.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 5px;
        padding-left: 20px !important;
    }

    .robo-img {
        width: 100%;
    }

    .footer-icon {
        margin: auto;
        display: flex;
        padding-bottom: 70px;
    }

    .footer-parent {
        display: flex;

    }
}

@media (max-width:576px) {
    .heading {
        line-height: 30px;
    }

    .mt-50 {
        margin-top: 50px !important;
    }

}

@media (max-width:425px) {
    .robo-img {
        width: 100%;
    }

    .nav-icon {
        max-width: 130px;
    }
}

@media (min-width:768px) {
    .accordion {
        width: 1022px;
    }
}

@keyframes up-and-down {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}