@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url(./root.css);

.navbar {
    height: 100px;
}

.parent {
    background-image: url(/assets/images/png/bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.robo-img {
    margin-top: 55px;
    margin-bottom: 118.71px;
}

.buton-1,
.buton-3,
.buton-2 {
    line-height: 25.2px;
    background: linear-gradient(103.52deg, #3A3EF5 18.99%, #32C8F1 82.34%);
    box-shadow: 0px 0px 12px 0px #BF97FF3D inset;
    padding: 13px 32px 13px 32px;
    border-radius: 57px;
    border: none;
}

.buton-1:hover,
.buton-3:hover,
.buton-2:hover {
    background: linear-gradient(103.52deg, #FFFFFF 18.99%, #32C8F1 82.34%);
    color: #092048 !important;
    transition: all cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.container {
    max-width: 1140px !important;
}

.heading {
    line-height: 86.4px;
    max-width: 705.17px;
}

.buton-2 {
    max-width: 230px;
    margin-top: 24px;
}

.pt-166 {
    padding-top: 166px;
}

.sub-heading {
    line-height: 57.6px;
}

.text-2 {
    max-width: 146px;
    line-height: 24px;
}

.mw {
    max-width: 316px;
}

.mw-2 {
    max-width: 325px;
}

.text-3 {
    max-width: 187px;
    line-height: 24px;
}

.mt-56 {
    margin-top: 56px;
}

.br {
    border-right: 1px solid;
    border-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%) 1;
}

.br-2 {
    border-right: 1px solid;
    border-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%) 1;
}

.slider-heading {
    line-height: 57.6px;
}

.lh-28 {
    line-height: 28.8px;
}

.lh-24 {
    line-height: 24px;
}

.mt-175 {
    margin-top: 175px;
}

.pt-24 {
    padding-top: 24px;
    gap: 8px;
}

.slider-box {
    background: linear-gradient(180deg, rgba(59, 40, 246, 0.22) 0%, rgba(59, 40, 246, 0) 100%);
    border-radius: 24px;
    padding: 24px 24px 0.39px 24px;
}

div.slick-track {
    gap: 24px !important;
    display: flex;
    padding-top: 40px;
}

.slick-dots li button:before {
    color: var(--fc-white) !important;
    margin-top: 20px;
}

.pt-47 {
    padding-top: 47px;
    gap: 8px;
}

.slide-text {
    max-width: 316px;
    opacity: 80%;
    line-height: 24px;
}

.mt-210 {
    margin-top: 210px;
}

.footer-text {
    opacity: 100%;
}

.footer-text-2 {
    opacity: 70%;
    padding-top: 14px;
    color: #FFFFFF;
}

.gap-12 {
    gap: 12px;
    margin-top: 18px;
}

.outfit {
    font-family: "Outfit", serif;
}

.last-text {
    max-width: 1140px;
    gap: 20px;
    border-top: 2px solid;
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 47%, rgba(255, 255, 255, 0) 100%) 2;
    margin-top: 60px;
    margin-bottom: 30px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-12 {
    padding-bottom: 12px;
}

.li-parent {
    gap: 14px;
    display: flex;
    flex-direction: column;
}

.pt-32 {
    padding-top: 32px;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    z-index: 10;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;
}

.z-5 {
    z-index: 5;
}

.rotate40 {
    transform: rotate(40deg);
}

.rotate-45 {
    transform: rotate(-46deg);
}

.navbar-link {
    line-height: 20.16px;
    color: white;
}

.navbar-link:hover,
.footer-text-2:hover {
    color: #32C8F1;
}

.nav-name {
    gap: 32px;
}

.accordion-button:not(.collapsed) {
    color: var(--fc-white) !important;
    background-color: #01000B!important;
    box-shadow: unset !important;
    position: relative;
}

.accordion-button:focus {
    box-shadow: unset !important;
}

.accordion-item::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: 12px !important;
    background: linear-gradient(103.52deg, #3A3EF5 18.99%, #32C8F1 82.34%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
}

.accordion-button:not(.collapsed)::before {
    content: "";
    position: absolute;
    inset: 0;
    padding-top: 1px;
    padding-right: 1px;
    padding-left: 1px;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    background: linear-gradient(103.52deg, #3A3EF5 18.99%, #32C8F1 82.34%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
}

.accordion-button {
    background-color: #01000B !important;
    border-radius: 12px !important;
}

.accordion {
    --bs-accordion-color: var(--bs-body-color);
    --bs-accordion-bg:#01000B !important;
    --bs-accordion-border-width: var(--bs-border-width);
    --bs-accordion-border-radius: var(--bs-border-radius);
    max-width: 1022px;
    width: 100%;
}

.accordion-button::after {
    background-image: url(/assets/images/svg/arrow.svg) !important;
    flex-direction: column-reverse;
    width: 24px;
    height: 24px;
}

.accordion-item {
    border: 1px solid #1A1A23 !important;
    border-radius: 12px !important;
    position: relative;
}

.accordion-item:first-of-type {
    border-radius: 12px;
}

.mt-60 {
    margin-top: 60px;
}

.wh {
    width: 20px;
    height: 20px;
}

.footer-svg {
    background: linear-gradient(103.52deg, #3A3EF5 18.99%, #32C8F1 82.34%);
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.footer-svg:hover {
    scale: 1.1;
}

.gap-12 {
    gap: 12px;
}

.pt-8 {
    padding-top: 8.39px;
}

@media (min-width:992px) {
    .buton-1 {
        display: none;
    }
}

@media (min-width:1440px) {
    .circle {
        bottom: -27%;
        width: 400px;
    }

    .robo-img {
        animation: up-and-down 3s ease-in-out infinite;
        width: 472px !important;
    }

    .mt-356 {
        margin-top: 270px !important;
    }
}

@media (max-width:1439.98px) {
    .circle {
        bottom: -27%;
        width: 200px;
    }

    .parent {
        width: 100% !important;
    }

    .robo-img {
        width: 100%;
    }

    .footer-sec {
        margin-top: 100px;
    }

    .pt-166 {
        padding-top: 40px;
    }

    .mt-210 {
        margin-top: 80px;
    }

    .mt-175 {
        margin-top: 90px;
    }
}

@media (max-width:992px) {
    .nav-name {
        display: flex !important;
        flex-direction: column;
        background: #092048 !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: -2%;
        right: -100% !important;
        top: 0%;
        transition: all 400ms linear;
    }

    .show-nvabar {
        right: 0 !important;
        z-index: 1;
    }

    .menu-btn {
        display: block;
        z-index: 1;
    }

    .robo-img {
        margin: auto;
        display: flex;
        width: 60%;
    }

    .heading {
        margin: auto !important;
    }

    .circle {
        bottom: -10%;
    }
}

@media (max-width:768px) {
    .br-2 {
        border: none !important;
    }

    .robo-img {
        width: 100%;
    }

    .footer-icon {
        margin: auto;
        display: flex;
        padding-bottom: 70px;
    }

    .sec-2 {
        display: flex;
        justify-content: center;
    }
}

@media (max-width:576px) {
    .heading {
        line-height: 35px;
        padding-bottom: 20px;
    }

    .robo-img {
        width: 100%;
    }

    .nav-icon {
        max-width: 130px;
    }

    .gap-12{
        gap: 4px;
    }
}

@keyframes up-and-down {
    50% {
        transform: translateY(-20px);
    }
}